* {
    box-sizing: border-box;
}

body {
    direction: rtl;
    text-align: right;
    margin: 0;
    padding-bottom: 38px;
    line-height: 1;
    font-family: 'Arial (Hebrew)', Arial;
}

header {
    background-color: #909090;
    margin: 0;
}

.paz-logo {
    position: absolute;
    bottom: -20px;
    right: -8px;
}

.english {
    font-size: 12px;
    color: white;
    float: left;
    font-weight: bold;
}

.header-input,
.img-header {
    float: left;
}

.main>.container>.clearfix {
    margin: 0;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.container {
    width: 900px;
    margin: 0 auto;
    position: relative;
}

header>.container {
    padding-top: 30px;
}

.img-cube {
    width: 290px;
    position: relative;
    float: right;
    margin: 20px 0 0 10px;
    border-bottom-right-radius: 20px;
}

h3 {
    margin: 0;
    padding: 0;
}

.img-cube>img {
    width: 100%;
    border-bottom-right-radius: 20px;
}

.img-cube>div {
    border-bottom-right-radius: 20px;
}

.img-cube>.image-text {
    position: absolute;
    bottom: 6px;
    right: 8px;
    padding: 10px;
    background-color: rgba(119, 119, 117, 0.85);
    color: white;
    font-size: 13px;
    width: 248px;
}

.img-cube>.image-text>p {
    margin: 4px 0 0 0;
}

.img-cube>.image-text>a {
    color: white;
    font-size: 13px;
}

.row-second {
    background-image: url("images/small_cube_bg.png");
    width: 285;
    height: 216px;
    padding: 0 20px;
    position: relative;
    float: right;
    margin: 20px 0 30px 15px;
}

.row-second>h3 {
    font-size: 14px;
    margin-bottom: 15px;
    margin-top: 10px;
    right: 4px;
    color: #575757;
}

.row-second>.area {
    margin-top: 18px;
    float: right;
    width: 30%;
    color: #72716D;
    font-size: 16px;
}

.row-second>.area>a {
    color: #72716D;
    font-size: 13px;
    padding: 0 0 0 12px;
    margin-bottom: 8px;
}

.row-second>.area>a:hover {
    color: blue;
}

.row-second>.image-text {
    position: absolute;
    padding: 0 0 12px 0;
    margin: 10px 160px 0 0;
}

.row-second>.image-text>a {
    color: #72716D;
    font-size: 13px;
}

.row-second>.image-text>a:hover {
    color: blue;
}

.read-more {
    margin: 10px 160px 0 0;
}

.read-more>a {
    color: white;
}

.read-more>a:hover {
    color: blue;
}

.map {
    float: left;
    width: 30%;
}

footer {
    position: fixed;
    background-color: #919191;
    bottom: 0;
    width: 100%;
    margin: 0;
}

.menu>li {
    display: inline;
}

.menu>li>a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}

.menu>li>span {
    color: white;
    font-size: 14px;
}

.menu>li>a:hover {
    text-decoration: underline;
    color: blue;
    font-size: 14px;
}

.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(188, 188, 188);
    z-index: 100;
    width: 100px;
}

.dropdown>a {
    border-bottom: 0.8 px dotted white;
    font-size: 15px;
    color: white;
    text-decoration: none;
    padding: 2px 5px 2px 5px;
}

.menu>li {
    position: relative;
}

.menu>li:hover>a+.dropdown {
    display: block;
    background-color: rgb(171, 171, 171);
}

.menu>li:hover>a+.dropdown>a:hover {
    background-color: rgb(171, 171, 171);
    color: blue;
    text-decoration: underline;
}

footer>.container>.menu {
    margin: 0;
    height: 38px;
    padding: 0;
    padding: 1px 0 3px 0;
}

footer>.container>.menu>img {
    padding-top: 5px;
}

.menu-header {
    font-weight: bold;
    font-size: 15px;
    padding: 5px 0 5px 0;
    margin: 0 143px 0 0;
}

.area>a {
    display: block;
}